<form>
  Name:<br>
  <input type="text" name="name"><br>
  Email Address:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  Password Confirmation:<br>
  <input type="text" name="password_confirmation"><br>
  Sign up for our email list<br>
  <input id="checkBox" type="checkbox"><br>
  <input type="submit" value="Submit">
</form>